:root {
  --bg1: rgb(255, 228, 225);
  --bg2: rgb(255, 255, 255);
  --bg3: rgb(248, 240, 240);
  --bg4: rgba(0, 238, 255, 0.137);
  --bgCSS: rgba(150, 253, 150, 0.180);
  --bgSCSS: rgba(203, 150, 253, 0.180);
  --bord1: rgba(0, 0, 0, 0.767);
  --bord2: rgb(255, 192, 203);
  --bord2: rgba(0, 238, 255, 0.178);
  --comentColor: rgb(95, 95, 95);
  --textColor: rgb(7, 7, 7);
  --transparent: transparent;
  --max-w: 700px; }

.body {
  background-image: radial-gradient(circle, var(--bg1) 25%, var(--bg3) 28.5%, var(--bg2) 28.5%, var(--bg2) 29%, var(--bg3) 29%, var(--bg1) 32%);
  background-size: 40rem 30rem;
  background-repeat: repeat;
  background-position: 30% 18%;
  color: var(--textColor); }

.bubble {
  background-image: radial-gradient(circle, var(--transparent) 5%, var(--bg3) 8.5%, var(--bg2) 8.5%, var(--bg2) 9%, var(--bg3) 9%, var(--transparent) 12%);
  background-size: 30rem 25rem;
  background-repeat: repeat; }

.stars {
  background-image: radial-gradient(circle, var(--transparent) 90%, var(--bg3) 97%, var(--bg2) 99%);
  background-size: 15rem 15rem;
  background-repeat: repeat;
  background-position: 50% 10%; }

.container {
  background-color: var(--bg4);
  border: 0.4em double var(--bord2);
  border-radius: 0 2rem 0 2rem;
  margin: 1rem auto;
  padding: 1rem;
  max-width: var(--max-w);
  box-shadow: 5px 5px 5px 0px var(--bgSCSS); }

.idEst {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap; }

.exempliGratia {
  max-width: 48vw;
  border: 0.3em double var(--bord1);
  padding: .2em;
  overflow-wrap: break-word; }

.egCSS {
  background-color: var(--bgCSS);
  flex: 1; }

.egSCSS {
  background-color: var(--bgSCSS);
  flex: 1; }

.cmd {
  background-color: var(--textColor);
  color: var(--bg3);
  width: 50%;
  padding: .5rem;
  margin: 1rem auto; }

.image {
  max-width: 480px; }

.coment {
  color: var(--comentColor); }

.center {
  text-align: center; }

.marg-auto {
  margin-left: auto;
  margin-right: auto; }

.block {
  display: block; }

.bold {
  font-weight: bold; }
