:root {
  --bg1: rgb(202, 141, 10);
  --bg2: rgba(221, 195, 148, 0.883);
  --bg3: rgb(139, 70, 103);
  --border: rgb(246, 246, 174);
  --textColor: rgb(22, 4, 43);
  --highlight: rgba(216, 78, 170, 0.747);
  --transparent: transparent;
  --max-w: 700px; }

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*::selection {
  background-color: var(--highlight); }

.body {
  background-image: radial-gradient(at 0% 0%, var(--bg3) 8%, var(--transparent) 8%, var(--transparent) 100%), linear-gradient(135deg, var(--transparent) 28.7%, var(--bg3) 28.7%, var(--bg3) 39.5%, var(--transparent) 39.5%, var(--transparent) 100%), radial-gradient(at 100% 100%, var(--bg1) 15%, var(--bg3) 15%, var(--bg3) 30%, var(--bg1) 30%, var(--bg1) 100%);
  background-repeat: repeat;
  background-size: 200px 200px;
  color: var(--textColor);
  padding: 0 1rem; }

.container {
  background-color: var(--bg2);
  max-width: 700px;
  margin: 1rem auto;
  padding: 2rem 1.5rem;
  border: 3px solid var(--border);
  list-style-position: inside; }

.idEst {
  margin: .5rem;
  padding: .5rem;
  border: 1px solid var(--bg3);
  background-color: var(--border);
  opacity: 50%;
  overflow-wrap: break-word; }

.center {
  text-align: center; }

.block {
  display: block; }

.margin-auto {
  margin-right: auto;
  margin-right: auto; }
