:root{
  --v: rgb(255, 211, 91);
  --b: rgb(197, 246, 255);
}

body{
  background-color: lightcyan;
}

div{
  max-width: 850px;
  margin-left: 10px;
}

article{
  max-width: 850px;
  height: auto;
  padding: 5px;
  margin: 3px;
  border: 2px solid transparent;
}

article:hover{
  border: 2px solid var(--v);
  border-radius: 5px;
}

i:hover{
  background-color: var(--b);
}

.bgcolor{
  background-color: var(--b);
}

.bgimach{
  background-image: url("../Imgs/fondo marino.jpg");
}

.bgripit{
  background-image: url("../Imgs/fondo marino.jpg");
  background-repeat: no-repeat;
}

.bgsais{
  background-image: url("../Imgs/fondo marino.jpg");
  background-size: 870px 220px;
}

.bgsaisc{
  background-image: url("../Imgs/fondo marino.jpg");
  background-size: contain;
}

article.bgsaisc:hover{
  height: 380px;
}

.bgpos1{
  background-image: url("../Imgs/fondo marino.jpg");
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: 580px 50px;
}

.bgpos2{
  background-image: url("../Imgs/fondo marino.jpg");
  background-repeat: no-repeat;
  background-position: right 10px bottom 5px;
}

.bgclip{
  background-image: url(../Imgs/fondo\ marino.jpg);
  background-clip: content-box;
}

.bgorillin{
  background-image: url("../Imgs/fondo marino.jpg");
  background-origin: content-box;
}

.bgatachment{
  background-image: url("../Imgs/fondo marino.jpg");
  background-attachment: fixed;
}

.bg{
  background: url("../Imgs/fondo\ marino.jpg") 0 bottom / 100px repeat-X content-box padding-box var(--b);
}

.other, aside{
  margin: 20px 0 0 20px
}