*::before, *::after, *{
  box-sizing: border-box;
}

h1, h2{
  line-height: .5em;
}

body{
  background-color: rgb(149, 218, 216);
}

h4{
  line-height: 0.1em;
}

img{
  margin: 10px;
}

img[src^="../Imgs/fontcomic"]{
  border: 2px solid gold;
  box-shadow: 10px 10px 3px 3px goldenrod;
}

div{
  margin: 20px 0px 0px 20px;
  border-width: 3.5px;
  border-style: solid;
  border-color: darkgreen green forestgreen limegreen;
  padding: 20px 20px 20px 20px;
}

div:hover{
  background-image: linear-gradient(210deg, rgb(66, 255, 208) 5%, rgb(122, 243, 243) 20%, rgb(122, 243, 243) 50%, rgb(155, 198, 255) 90%);
}

article{
  margin: 20px 0px 0px 20px;
  border-width: 3.5px;
  border-style: solid;
  border-color: darkred crimson red orangered;
  padding: 20px 20px 20px 20px;
  max-width: 850px;
  min-height: 230px;
}

article:hover{
  background-image: linear-gradient(150deg, rgb(253, 189, 255) 10%, transparent 40%, transparent 50%, rgb(255, 194, 247) 90%);
}

.meashurment{
  font-size: 1.2em;
}

span:nth-of-type(1):not(.terminal span){
  font-style: italic;
}
span:nth-of-type(2):not(.terminal span){
  font-weight: bold;
}
span:nth-of-type(3):not(.terminal span){
  text-align: center;
}
span:nth-of-type(4):not(.terminal span){
  line-height: 2em;
}
span:nth-of-type(5):not(.terminal span){
  text-decoration: underline;
}
span:nth-of-type(6):not(.terminal span){
  text-transform: capitalize;
}
span:nth-of-type(7):not(.terminal span){
  letter-spacing: .5em;
}
span:nth-of-type(8):not(.terminal span){
  word-spacing: .5em;
}

.fonts :not(b){
  font-family: 'Comic Neue', 'cursive', 'sans-serif';
}

.shadou :first-child:not(.terminal span){
  text-shadow: 3px 3px 2px deepskyblue;
  color: aliceblue;
}
