:root{
  --balloon         : aliceblue;
  --border-balloon  : darkslategray;
}

[src*="working"]{
  max-width:        15rem;
}

[src*=".png"]{
  max-width:        5rem;
}

.container{
  position:     relative;
}

.workout{
  top         : 0rem;
  width       : min-content;
  position    : relative;
}
.wo2{
  display: none;
}

.absol:active .wo1{
  position:     absolute;
  opacity:      50%;
  top:          -200px;
}
.absol:active .wo2{
  display: block;
}

.spongeBob{
  position:     fixed;
  top:          40%;
  right:        1rem;
}
.spongeBob:hover, .patrickStar:hover{
  opacity: 40%;
}
.patrickStar{
  position:     sticky;
  bottom:       2em;
}

.workout:hover .tooltip{
  display         : block;
}
.tooltip{
  position        : absolute;
  display         : none;
  left            : -6rem;
}
.sponge-phrase{
  background-color: var(--balloon);
  border          : .1em solid var(--border-balloon);
  color           : var(--border-balloon);
  padding         : .8em .7em;
  border-radius   : 50%;
  width           : fit-content;
  font-family     : sans-serif;
  opacity         : 90%;
}
[class*="balloon"]{
  background-color: var(--balloon);
  border          : .1em solid var(--border-balloon);
  border-radius   : 50%;
  position        : absolute;
  opacity         : 80%;
}
.balloon1{
  width           : 1.5em;
  height          : 1.2em;
  bottom          : -15px;
  left            : 65%;
}
.balloon2{
  width           : 1em;
  height          : .8em;
  bottom          : -25px;
  left            : 78%;
}