*, *::before, *::after {
  box-sizing: border-box;
}

table, td, tr{
  border: 2px solid plum;
}

body{
  background-color: lightcyan;
}

img{
  width: 100%;
  max-width: 300px;
}

.a{
  display: block;
  max-width: 850px;
  padding: 1em;
  margin: 5px auto;
  border: 3px solid transparent;
}
/* article{
  margin: 5px 20px;
  padding-left: 15px;
  width: 1000px;
  height: 600px;
  border: 3px solid transparent;
} */

.a:hover{
  border: 3px solid rgb(255, 191, 53);
  border-radius: 3px;
}

.enlace1{
  color: forestgreen;
}
.enlace2{
  color: indigo;
}
.enlace3{
  color: maroon;
}
.enlace4{
  color: crimson;
}
.cc{
  color: currentColor;
}
.ir_a{
  padding-left: .5rem;
}

.a img, .ir_a{
  border: 10px solid;
  border-color: chocolate brown chocolate brown;
}

.degline{
  display: inline-block;
  width: 100%;
  height: 120px;
  background-image: 
    linear-gradient(lime, orange, cyan), 
    linear-gradient(lime 10%, orange 40%, orange 60%, cyan 90%), 
    linear-gradient(225deg, lime 20%, orange 40%, orange 60%, cyan 80%);
  background-size: 30% 100%;
  background-repeat: no-repeat;
  background-position: 0% 0%, 50% 0%, 100% 0%;
}

.degrad{
  display: inline-block;
  width: 100%;
  height: 120px;
  background-image: 
    radial-gradient(darkviolet, aqua, teal),  
    radial-gradient(darkviolet 10%, aqua 45%, aqua 55%, teal 90%),  
    radial-gradient(at -5px -10px, darkviolet 10%, aqua 45%, aqua 55%, teal 90%), 
    radial-gradient(circle at -5px -10px, darkviolet 10%, aqua 45%, aqua 55%, teal 90%);
  background-size: 30% 100%;
  background-repeat: no-repeat;
  background-position: 0% 0%, 50% 0%, 100% 0%;
  /* background-position: 280px 310px, 430px 310px, 580px 310px, 730px 310px; */
}

.degripit{
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  height: 300px;
  background-image: url(../Imgs/bugsbuni.png),  
  radial-gradient(#000 0%, #000 23%, transparent 23%),
  repeating-radial-gradient(rgb(255, 253, 111) 4%, rgb(255, 159, 49) 7%, 
    rgb(255, 159, 49) 9%, rgb(255, 49, 49) 13%, rgb(255, 49, 49) 16%, 
    rgb(172, 54, 7) 20%, rgb(172, 54, 7) 21%, rgb(10, 4, 2) 23%);
  background-size: 150px, 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  /* background-position: 420px 400px, 300px 280px, 300px 280px; */
  background-position: 50% 75%, 0em 0em, 0em 0em;
  background-attachment: fixed, scroll, scroll;
}

pre{
  color: aliceblue;
}

[class^="ejemplo-"]{
  background-origin: border-box;
  max-width: 100%;
  padding: 10px;
}
.ejemplo-white{
  background-color: white;
  color: darkblue;
}
.ejemplo-black{
  background-color: black;
  color: antiquewhite;
}

[class^="ying-yang"]{
  margin: 0 auto;
}

div.ying-yang_p1{
  --tamaño: 150px;

  width: var(--tamaño);
  height: var(--tamaño);
  border: 1px solid hsl(0, 100%, 0%);
  border-radius: 50%;
}

div.ying-yang_p2{
  --tamaño: 150px;

  width: var(--tamaño);
  height: var(--tamaño);
  border: 1px solid hsl(0, 100%, 0%);
  border-radius: 50%;

  background-image:
    linear-gradient(to right, #FFF 50%, #000 50%);
}

div.ying-yang_p3{
  --tamaño: 150px;
  --tamcalc: calc(var(--tamaño)/2);

  width: var(--tamaño);
  height: var(--tamaño);
  border: 1px solid hsl(0, 100%, 0%);
  border-radius: 50%;

  background-image:
    radial-gradient(var(--tamcalc) at 50% 25%, rgb(255, 255, 255) 50%, transparent 50%), 
    radial-gradient(var(--tamcalc) at 50% 75%, rgb(0, 0, 0) 50%, transparent 50%), 
    linear-gradient(to right, #FFF 50%, #000 50%);
}

div.ying-yang{
  --tamaño: 150px;
  --tamcalc: calc(var(--tamaño)/2);

  width: var(--tamaño);
  height: var(--tamaño);
  border: 1px solid hsl(0, 100%, 0%);
  border-radius: 50%;

  background-image:
    radial-gradient(var(--tamcalc) at 50% 25%, rgb(0, 0, 0) 10%, transparent 10%), 
    radial-gradient(var(--tamcalc) at 50% 75%, rgb(255, 255, 255) 10%, transparent 10%), 
    radial-gradient(var(--tamcalc) at 50% 25%, rgb(255, 255, 255) 50%, transparent 50%), 
    radial-gradient(var(--tamcalc) at 50% 75%, rgb(0, 0, 0) 50%, transparent 50%), 
    linear-gradient(to right, #FFF 50%, #000 50%);
}