:root{
  // COLORES
  --bg1          : rgb(255, 228, 225);
  --bg2          : rgb(255, 255, 255);
  --bg3          : rgb(248, 240, 240);
  --bg4          : rgba(0, 238, 255, 0.137);
  --bgCSS        : rgba(150, 253, 150, 0.180);
  --bgSCSS       : rgba(203, 150, 253, 0.180);
  --bord1        : rgba(0, 0, 0, 0.767);
  --bord2        : rgb(255, 192, 203);
  --bord2        : rgba(0, 238, 255, 0.178);
  --comentColor  : rgb(95, 95, 95);
  --textColor    : rgb(7, 7, 7);
  --transparent  : transparent;

  // MEDIDAS
  --max-w        : 700px;
}