:root{
  // COLORES
  --bg1           : rgb(202, 141, 10);
  --bg2           : rgba(221, 195, 148, 0.883);
  --bg3           : rgb(139, 70, 103);
  --border        : rgb(246, 246, 174);
  --textColor     : rgb(22, 4, 43);
  --highlight     : rgba(216, 78, 170, 0.747);
  --transparent   : transparent;

  // MEDIDAS
  --max-w        : 700px;
}