:root{
  // COLORES
  --bg1          : mistyrose;
  --bg2          : white;
  --bg3          : rgb(252, 243, 243);
  --bg4          : rgba(0, 238, 255, 0.137);
  --bgCSS        : rgba(150, 253, 150, 0.180);
  --bgSCSS       : rgba(203, 150, 253, 0.180);
  --bord1        : rgba(0, 0, 0, 0.767);
  --bord2        : pink;
  --bord2        : rgba(0, 238, 255, 0.178);
  --comentColor  : rgb(95, 95, 95);
  --transparent  : transparent;

  // MEDIDAS
  --max-w        : 700px;
}